@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body{
    overflow-x: hidden;
}

nav .navbar-text{
   font-family: 'Poppins', sans-serif;
   color: #082746;
}
.letra a{
    color: #0C3872;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

}

.letra li a{
    color:#082746;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.letra li a:hover{
    color:#CEB725;
    transform: scale(1.1);   
}   

div li .select{
    color:#082746;
    font-weight: 700;
    font-size: 1.2rem;
}

.bloque1{
    padding: 20px;
    padding-block: 60px;
    padding-block: 60px;
    background-color: #D2D9E0;
    color: #082746;
}
.bloque1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;   
}

.bloque1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
   
}


.bloque1s{
    background-image: url("../assets/fondo.jpg");
    padding: 20px;
    padding-block: 60px;
}

.bloque1s img{
    height: 160px;
    width: 160px;
    margin: 10px;
    border-radius: 50%;
}

.bloque1s img:hover{
    transform: scale(1.2);
}

.bloque1s p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: white;
}

.bloque2{
    padding: 20px;
    padding-block: 60px;
    background-color: #CEB725;
}

.bloque2 h1{
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: #082746;
}

.bloque2 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    color: #082746;
}


.bloque2 a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2;
    color: #D2D9E0;
    padding-inline: 15px;
}

.bloque2 .card{
    padding:10px;
    background-image: url("../assets/bg2.jpg");
    width: 100%;
    margin: auto;
}

.bloque2 .row{
    display: flex;
    justify-content: center;
}

.imgsucesiones img{
    width: 100%;
}

.quees{
    color:#082746;
    padding: 20px;
    padding-block: 60px;
    background-color:#D2D9E0;
    background-color: #D2D9E0;
}

.quees h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.quees p{
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.etapas{
    padding: 20px;
    padding-block: 60px;
    background-image: url("../assets/bg2.jpg");
    color:#082746;
    width: 100%;
}

.etapas h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.etapas .card-header{
    background-color: #082746;
}

.etapas .card-body{
    background-color:#D2D9E0;
    color: #082746;
}
.etapas h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #CEB725;
}

.etapas p{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.etapas h2:hover{
    background-color: white;
    color: #082746;
}

.etapas div:hover{
    background-color: white;
    color:#082746;
} 

.documentacion{
    padding-block: 60px;
    color: #082746;
    background-color: #082746;
}

.documentacion .row{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.documentacion .card{
    padding: 10px;
    margin: 10px;
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.documentacion h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.documentacion p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.documentacion a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    color: #CEB725;
}

.documentacion .btn{
    background-color: #082746;
}


.plani{
    background-color: #D2D9E0;
    color: #082746;
    padding: 20px;
    padding-block: 60px;
}

.plani h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;

}

.plani p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.plani a{
    font-weight: 600;
    color: blue;
}

.plani a:hover{
    color: #082746;
}

.legitima{
    padding: 20px;
    padding-block: 60px;
    background-image: url("../assets/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.legitima h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #082746;
}

.legitima p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #082746;
}

.legitima h2{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    color: #082746;
}
.legitima .card{
    padding: 10px;
    color: #082746;
    width: 100%;
    background-color:#D2D9E0;
    margin-block: 20px;   
}

.legitima .card:hover{
    background-color: #CEB725;
}

.obj{
    padding: 20px;
    padding-block: 60px;
    background-image: url("../assets/presi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #082746;
}

.obj h1{
    font-size: 1.8rem;
    font-family:'Poppins', sans-serif ;
    margin-bottom: 30px;
}

.obj p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}


.instrumentos{
    width: 100%;
    padding: 20px;
    padding-block: 60px;
    color: #D2D9E0;
    background-color: #082746;
}

.instrumentos a{
    font-weight: 600;
}

.instrumentos h1{
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-family:'Poppins', sans-serif ;
}

.instrumentos h2{
    font-size: 1.7rem;
    font-family:'Poppins', sans-serif ;
}

.instrumentos p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

.instrumentos li{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

.instrumentos .bottom{
    margin-bottom: 60px;
}

.instrumentos .card-header{
    background-color:#CEB725;
    color: #082746;
}

.instrumentos .card-body{
    background-image: url("../assets/bg1.jpg");
    color: #D2D9E0;
}


.instrumentos .card-header:hover{
    background-color:white;
    color:#082746;
}



div .docs1{
    padding: 20px;
    color: black;
    padding-block: 60px;
}

body .docs1{
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    padding-block: 60px;
}

.docs1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.docs1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.docs1 ul{
    margin: 30px;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.buttondocs1 {
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttondocs1 a{
    text-decoration: none;
    color: black;
}

.buttondocs1 a:hover{
    text-decoration: none;
    color: white;
}


div .docs2{
    padding: 20px;
    color: black;
    padding-block: 60px;
}

body .docs2{
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.docs2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    padding-top: 20px;
}

.docs2 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    
}

.docs2 ul{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin: 30px;
}

.docs2 li{
    margin: 10px;
}
.buttondocs2 {
    margin-left: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.buttondocs2 a{
    text-decoration: none;
    color: white;
}

.pregs img{
    width: 100%;
}


.pregs .cont{
    padding-block: 60px;
    background-color: #082746;
    background-image: url("../assets/bg2.jpg");
}

.pregs .union{
    margin-top: 30px;
}

.pregs h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.accordion{
    width: 90%;
    background: transparent;
    padding: 10px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: auto;
}

.accordion-item{
    background:#D2D9E0;
    border: none;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1),-2px -2px 8px rgba(0,0,0,0.1);
}



.accordion button{
    color:#082746;
    background:#CEB725;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: 'Raleway', sans-serif;   
    font-weight: 500;
    font-size: 1.3rem;
}

.accordion-body{
    color:#CEB725;
    background-color: #082746;
    font-size: 1.2rem;
}

div .dudas{
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    padding-block: 60px;
    color:#082746;
}
.dudas h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#082746;
    font-size: 1.8rem;
}

.dudas p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.imgfinanciacion img{
    width: 100%;
}

.honorarios{
    color:#082746;
    padding: 20px;
    background-color: #D2D9E0;
    padding-block: 60px;
}

.honorarios h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.honorarios p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.honorarios li{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    list-style: none;
    margin: 10px;
}




.pago{
    color:#082746;
    padding: 20px;
    background-image: url("../assets/bg2.jpg");
    padding-block: 60px;
}

.pago .card{
    width: 80%;
    display: flex;
    align-content: center;
    margin: auto;
    background-color: #CEB725;
}

.pago .card-header, .pago .card-footer{
    background-color: #082746;
}

.pago h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.pago p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
 
.pago p:hover{
    transform: scale(1.2);
}

div .gastos{
    color: black;
    padding: 20px;
    background-color: #082746;
    padding-block: 60px;
}


.gastos h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}

.gastos .h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #D2D9E0;
}

.gastos p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #082746;
}

.gastos .card-header{
    background-color:#CEB725;
    color: #082746;
}

.gastos .card-header:hover{
    background-color: white;
    color: #082746;
}

.gastos .card-body{
    background-color: #D2D9E0;
}

.gastos .card-body:hover{
    background-color: white;
    color: #082746;
}

.tasas .tasa{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
    

.tasas p{
    color: #D2D9E0;
    margin-top: 30px;
}

.tasas li{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    list-style: none;
    margin: 10px;
    color: #D2D9E0;
}

.gastos .h1{
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.tasas .tasa{
    margin-top: 60px;
    color: #D2D9E0;
}

.imgcontacto img{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}



div .contacto{
    color:#082746;
    padding: 20px;
    background-color: #CEB725;
    padding-block: 60px;
}

.contacto h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}

.contacto ul li{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.contacto p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contacto iframe{
    margin-top: 30px;
    height: 400px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer a{
    text-decoration: none;
    color:#082746;
}

footer a:hover{
    color:#082746;

}

footer{
    background-color: #D2D9E0;
    color:#082746;
    font-size: 1rem;
    padding: 20px;
    padding-block: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

footer p:hover{
    transform:scale(1.1);
    font-weight: 600;
}

.imgfooter{
    width: 25px;
    height: 25px;
}

.foot1{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    color:#CEB725;
    background-color: white;
    margin-bottom: 0;
    padding: 20px;
    font-size: 1.1rem;
    padding-block: 15px;
}

