
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body{
    overflow-x: hidden;
}

.letra a{
    color: #0C3872;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.3rem;

}
.letra li a{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.letra li a:hover{
    color: #0C3872;
    font-weight: 600;
   
}   
div li .select{
    color: black;
    font-weight: 700;
    font-size: 1rem;
}

.bloque1{
    padding: 20px;
}
.bloque1 h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
    margin-bottom: 30px;   
}

.bloque1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
   
}


.bloque1s{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../assets/fondo.jpg");
}

.bloque1s img{
    height: 140px;
    width: 140px;
    margin: 10px;
    border-radius: 50%;
}

.bloque1s img:hover{
    transform: scale(1.2);
}

.bloque1s p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
}

div .bloque2{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque2 .col{
    margin-top: 30px;
    
}

.bloque2 h5{
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

.bloque2 .card-body:hover{
    background-color:#082746;
    color: white;
}

.bloque2 h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
    color: black;
}

.bloque2 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;    
}


.imgsucesiones img{
    width: 100%;
}

.quees{
    color: black;
    padding: 20px;
}

.quees h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
}

.quees p{
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.etapas{
    padding: 20px;
    background-color: #D2D9E0;
    color: black;
}

.etapas h1{
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.etapas h2{
    font-family: 'Playfair Display', serif;
}

.etapas p{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}



.etapas h2:hover{
    background-color: white;
    color: #082746;
}

.etapas div:hover{
    background-color: gray;
    color: white;
} 

.plani{
    background-color: #D2D9E0;
}


.planificacion{
    padding: 20px;
    color: black;
}

.planificacion h1{
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    margin-top: 30px;
}

.planificacion h2{
    font-family: 'Playfair Display', serif;
}

.planificacion p{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.planificacion ul{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.planificacion .plan{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin: 5px;
}

.planificacion .title{
    padding-top: 40px;
}

.planificacion .obj{
    background-image: url("../assets/fondo.jpg");
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: white;
}

.legitima{
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.legitima .card{
    padding: 10px;
    color: #082746;
    background-color:#D2D9E0;
    width: 100%;
    background-color: rgba(211, 201, 201, 0);
    
}

.instrumentos .card-body:hover{
    background-color: gray;
    color: white;
}

.documentacion{
    margin-top: 30px;
    margin-bottom: 30px;
}

.documentacion .row{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.documentacion .card{
    padding: 10px;
    margin: 10px;
    
    color: black;
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.documentacion h5{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.documentacion p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.documentacion a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

div .docs1{
    padding: 20px;
    color: black;
    padding-top: 40px;
}

body .docs1{
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.docs1 h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
}

.docs1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.docs1 ul{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.buttondocs1 {
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttondocs1 a{
    text-decoration: none;
    color: black;
}

.buttondocs1 a:hover{
    text-decoration: none;
    color: white;
}


div .docs2{
    padding: 20px;
    color: black;
}

body .docs2{
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.docs2 h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
    padding-top: 20px;
}

.docs2 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.docs2 ul{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.buttondocs2 {
    margin-left: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.buttondocs2 a{
    text-decoration: none;
    color: white;
}



.pregs .container{
    padding-top: 20px;
}
.pregs img{
    width: 100%;
}

.pregs h1{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.accordion{
    width: 100%;
    background: transparent;
    padding: 10px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.accordion-item{
    background:#D2D9E0;
    border: none;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1),-2px -2px 8px rgba(0,0,0,0.1);
}

.accordion-body{
    background: #D2D9E0;
    font-size: 1.3rem;
}
 
.accordion button{
    font-family: 'Raleway', sans-serif;   
    font-weight: 500;
    color: black;
    font-size: 1.4rem;
}

.accordion-collapse{
    color:pink;
}

.accordion button{
    color:#D2D9E0;
    background:#082746;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
}

.accordion-body{
    color:#082746;
    background-color: #D2D9E0;
    font-size: 1.2rem;
}

div .dudas{
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dudas h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dudas p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}

.imgfinanciacion img{
    width: 100%;
}

div .honorarios{
    color: black;
    padding: 20px;
    background-image: url("../assets/presi.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.honorarios h2{
    font-family: 'Payfair Display', serif ;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.honorarios p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}

.honorarios li{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    list-style: none;
    margin: 10px;
}


div .gastos{
    color: black;
    padding: 20px;
}


.gastos h2{
    font-family: 'Payfair Display', serif ;
    font-size: 2rem;
}

.gastos p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}

.gastos li{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    list-style: none;
    margin: 10px;
}

.gastos .h1{
    margin-bottom: 30px;
    font-size: 2.3rem;
}

.gastos .tasa{
    margin-top: 30px;
}

div .pago{
    color: black;
    padding: 20px;
    background-image: url("../assets/fondo.jpg");
}

.pago .card{
    width: 80%;
    display: flex;
    align-content: center;
    margin: auto;
    background-color: #f1f1f1;
}

.pago h2{
    font-family: 'Payfair Display', serif ;
    font-size: 2.5rem;
}

.pago p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}
 
.pago p:hover{
    transform: scale(1.2);
}
.imgcontacto img{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}



div .contacto{
    color: black;
    padding: 20px;
    background-image: url("../assets/presi.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.contacto b{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.contacto ul li{
    list-style: none;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.contacto p{
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.contacto iframe{
    margin-top: 30px;
    height: 400px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: black;
}

footer{
    background-color: #D2D9E0;
    color: black;
    font-size: 1rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

footer .col{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: black;
}

footer .menuabajo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer p:hover{
    transform:scale(1.1)
}

.imgfooter{
    width: 25px;
    height: 25px;
}

.foot1{
    font-family: 'Playfair Display' , serif;
    display: flex;
    justify-content: center;
    color:#D2D9E0;
    background-color: #082746;
    margin-bottom: 0;
    padding: 10px;
}


