@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body{
    overflow-x: hidden;
}

body .sucesiones{
    overflow: hidden;
    width: 100%;
}

nav .navbar-text{
   font-family: 'Poppins', sans-serif;
   color: #0C3872;
}
.letra a{
    color: #0C3872;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

}

.letra li a{
    color:#0C3872;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.letra li a:hover{
    color:#0C3872;
    transform: scale(1.1);   
}   

div li .select{
    color:#0C3872;
    font-weight: 700;
    font-size: 1.1rem;
}

.bloque1{
    padding: 20px;
    padding-block: 60px;
    background-color: #0C3872;
    color: white;
    width: 100%;
}
.bloque1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;  
    color: white;
}

.bloque1 .lema{
    font-size: 1.3rem;
}

.bloque1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.bloque1 .top{
    font-family: "Open Sans", sans-serif;
    color: lightskyblue;
}


.bloque1s{
    background-image: url("../assets/fac.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    padding-block: 60px;
    width: 100%;
}

.bloque1s img{
    height: 160px;
    width: 160px;
    margin: 10px;
    border-radius: 50%;
}

.bloque1s img:hover{
    transform: scale(1.2);
}

.bloque1s p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: white;
    font-weight: 400;
}

.bloque1s .pre{
    font-family: 'Open Sans', sans-serif;
}

.bloque2{
    padding: 20px;
    padding-block: 60px;
    width: 100%;
    background-color: #EAEFF1;
}

.bloque2 h1{
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: #0C3872;
}

.bloque2 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    color: #0C3872;
}


.bloque2 a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2;
    color: #C5D9EF;
    padding-inline: 15px;
    font-weight: 600;
}

.bloque2 .card{
    padding:10px;
    background-image: url("../assets/0C3872\ \(4\).jpg");
    width: 100%;
    margin: auto;
}

.bloque2 .row{
    display: flex;
    justify-content: center;
}

.bloque2 .btn{
    color: #0C3872;
    background-color: white;
    border-color: #0C3872;
    padding-inline: 20px;
}

.bloque2 .btn:hover{
    color: #0C3872;
    background-color: #EAEFF1;
    border-color: #0C3872;
}

.imgsucesiones img{
    width: 100%;
}

.quees{
    background-color:#0C3872;
    padding: 20px;
    padding-block: 60px;
    color: white;
}

.quees h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #DCD6CD;
}

.quees p{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.etapas{
    padding: 20px;
    padding-block: 60px;
    background-image: url("../assets/0C3872\ \(4\).jpg");
    color:#0C3872;
    width: 100%;
}

.etapas h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.etapas .card-header{
    background-color: #0C3872;
}

.etapas .card-body{
    color: #0C3872;
    background-color:#EAEFF1;
}
.etapas h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: white;
}

.etapas p{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.etapas h2:hover{
    background-color: white;
    color: #0C3872;
}

.etapas div:hover{
    background-color: white;
    color:#0C3872;
} 

.etapas .btn{
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 15px;
    color:white;
    background-color: #0C3872;
    font-family: 'Poppins', sans-serif;
}

.etapas .btn:hover{
    background-color: white;
    color: #0C3872;
    border-color: #0C3872;
}

.documentacion{
    padding-block: 60px;
    padding: 20px;
    color: #0C3872;
}

.documentacion .row{
    padding-block: 30px;
    display: flex;
    justify-content: center;
}
.documentacion .card{
    padding: 10px;
    margin: 10px;
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.documentacion h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.documentacion p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.documentacion a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #9EAFC1;
}

.documentacion .btn{
    background-color: #DCD6CD;
    color: #0C3872;
    border-color: #0C3872;
}

.documentacion .btn:hover{
    background-color: #0C3872;
    color: white;
}

.plani{
    background-color: #0C3872;
    color: white;
    padding: 20px;
    padding-block: 60px;
}

.plani h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #DCD6CD;

}

.plani p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.plani .lema{
    font-size: 1.3rem;
}

.plani a:hover{
    color: rgb(73, 170, 230);
}

.legitima{
    padding: 20px;
    padding-block: 60px;
    background-image: url("../assets/0C3872\ \(4\).jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.legitima h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #0C3872;
}

.legitima p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #0C3872;
}

.legitima h2{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    color: #0C3872;
}
.legitima .card{
    padding: 10px;
    color: #0C3872;
    width: 100%;
    background-color:white;
    margin-block: 20px;   
}

.legitima .card:hover{
    background-color: #EAEFF1;
}

.legitima .btn{
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 15px;
    color:white;
    background-color: #0C3872;
    font-family: 'Poppins', sans-serif;
}

.legitima .btn:hover{
    background-color: white;
    color: #0C3872;
    border-color: #0C3872;
}

.obj{
    padding: 20px;
    padding-block: 60px;
    background-image: url("../assets/presi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #0C3872;
}

.obj h1{
    font-size: 1.8rem;
    font-family:'Poppins', sans-serif ;
    margin-bottom: 30px;
}

.obj p{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}


.instrumentos{
    width: 100%;
    padding: 20px;
    padding-block: 60px;
    color:#0C3872;
    background-color: #DCD6CD;
}


.instrumentos h1{
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-family:'Poppins', sans-serif ;
}

.instrumentos h2{
    font-size: 1.7rem;
    font-family:'Poppins', sans-serif ;
}

.instrumentos p{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.instrumentos .plan{
    color: #0C3872;
}

.instrumentos li{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.instrumentos .bottom{
    margin-bottom: 60px;
}

.instrumentos .card-header{
    background-color:#0C3872;
    color: #DCD6CD;
}

.instrumentos .card-body{
    
    color: #C5D9EF;
}


.instrumentos .card-header:hover{
    background-color:#EAEFF1;
    color:#0C3872;
}



div .docs1{
    padding: 20px;
    color: black;
    padding-block: 60px;
}

body .docs1{
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    padding-block: 60px;
    color: #0C3872;
}

.docs1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.docs1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.docs1 ul{
    margin: 30px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.buttondocs1 {
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0C3872;
}

buttondocs1 .btn{
    background-color: #C5D9EF;
    color: #0C3872;
}

.buttondocs1 a{
    text-decoration: none;
    color:#0C3872;
}

.buttondocs1 a:hover{
    text-decoration: none;
    color:#C5D9EF;
}


div .docs2{
    padding: 20px;
    color:#0C3872;
    padding-block: 60px;
}

body .docs2{
    background-image: url("../assets/presi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color:#0C3872;
}

.docs2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    padding-top: 20px;
}

.docs2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    
}

.docs2 ul{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin: 30px;
}

.docs2 li{
    margin: 10px;
}
.buttondocs2 {
    margin-left: 40px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.buttondocs2 a{
    text-decoration: none;
    color: white;
}

.pregs img{
    width: 100%;
}


.pregs .cont{
    padding-block: 60px;
    background-color: #0C3872;
    background-image: url("../assets/bg2.jpg");
}

.pregs .union{
    margin-top: 30px;
}

.pregs h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.accordion{
    width: 90%;
    background: transparent;
    padding: 10px;
    color:#0C3872;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: auto;
}

.accordion-item{
    background:#DCD6CD;
    border: none;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1),-2px -2px 8px rgba(0,0,0,0.1);
}



.accordion button{
    color:#0C3872;
    background:#DCD6CD;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;   
    font-weight: 500;
    font-size: 1.3rem;
}

.accordion-body{
    color:#DCD6CD;
    background-color: #0C3872;
    font-size: 1.1rem;
}

div .dudas{
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    padding-block: 60px;
    color:#0C3872;
}
.dudas h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0C3872;
    font-size: 1.8rem;
}

.dudas p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.imgfinanciacion img{
    width: 100%;
}

.honorarios{
    color: white;
    padding: 20px;
    background-color: #0C3872;
    padding-block: 60px;
}



.honorarios h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;
    color:#DCD6CD;
}

.honorarios p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.honorarios li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    margin: 10px;
}




.pago{
    color:#0C3872;
    padding: 20px;
    background-image: url("../assets/0C3872\ \(4\).jpg");
    padding-block: 60px;
}

.pago .card{
    width: 80%;
    display: flex;
    align-content: center;
    margin: auto;
    background-color: #DCD6CD;
}

.pago .card-header, .pago .card-footer{
    background-color: #0C3872;
}

.pago h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.pago p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
 
.pago p:hover{
    transform: scale(1.2);
}

div .gastos{
    background-color:#EAEFF1;
    padding: 20px;
    padding-block: 60px;
}


.gastos h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    color: #0C3872;
}

.gastos .h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #0C3872;
}

.gastos p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #0C3872;
}

.gastos .card-header{
    background-color:#DCD6CD;
    color: #0C3872;
}

.gastos .card-header:hover{
    background-color: #0C3872;
    color: white;
}

.gastos .card-body{
    background-color: white;
}

.gastos .card-body:hover{
    
    color: white;
}

.tasas .tasa{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
    

.tasas p{
    color: #0C3872;
    margin-top: 30px;
}

.tasas li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    margin: 10px;
    color: #0C3872;
}

.gastos .h1{
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.tasas .tasa{
    margin-top: 60px;
    color: #0C3872;
}

.imgcontacto img{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}



div .contacto{
    color:#082746;
    padding: 20px;
    background-color: #EAEFF1;
    padding-block: 60px;
}

.contacto h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    color:#0C3872;
}

.contacto ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color:#0C3872 ;
}

.contacto p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color:#0C3872;
}

.contacto iframe{
    margin-top: 30px;
    height: 400px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #0C3872;
    color: white;
    font-size: 1rem;
    padding: 20px;
    padding-block: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

footer a{
    color: white;
}

footer p:hover{
    transform:scale(1.1);
    font-weight: 600;
    color: white;
}

footer a:hover{
    color: white;
}

footer .numero{
    color: #0C3872;
}

footer i{
    font-size: 20px;
    text-align: center;
    color: #0C3872;
    background-color: #EAEFF1;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 35);
    transition: .3s ease;
}

footer i:hover{
    background-color: #DCD6CD;
}


.imgfooter{
    width: 25px;
    height: 25px;
}

.foot1{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    color:#0C3872;
    background-color: white;
    margin-bottom: 0;
    padding: 20px;
    font-size: 1rem;
    padding-block: 15px;
}

@keyframes show {
    from {
        scale: 80%;
    }
    to {
        scale: 100%;
    }
}

.card, .bloque2 img, p, .accordion{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 40%;
}